---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import ForUniversities from '../components/ForUniversities.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<div class="bg-[#FBF8F1]">
		<Navbar />
	</div>
	<ForUniversities />
	<Footer />
</Layout>
